.weather {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40vh;
  min-width:fit-content;
  height: 100%;
  text-align: center;
}

.chunk {
  width: 100%;
  border: 2px solid rgba(0, 238, 255, 0.5);
  border-bottom-right-radius: 2vh;
  border-top-left-radius: 2vh;
  padding: 1vh;
  margin: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  transition: 0.5s;
}

.chunk:hover {
  color: white;
  background-color: rgba(0, 238, 255, 0.5);
  transform: scale(1.05);
}

.temp {
  text-align: center;
}

.stream {
  display: flex;
  align-content: space-evenly;
  flex-direction: column;
}

.hourly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.hour {
  width: min-content;
}