.jarvis {
  background-color: rgba(0, 238, 255);
  border-radius: 50%;
}

.edge {
  border-radius: 50%;
  border: 3px solid rgba(0, 238, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-fill-mode: forwards;

  animation-timing-function: cubic-bezier(0.32, 0.01, 0.67, 0.99);
}
@keyframes standard_rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
