.hidden {
  display: none;
}

.container {
  border: 2px solid rgba(0, 238, 255, 0.5);
  border-bottom-right-radius: 2vh;
  border-top-left-radius: 2vh;
  padding: 1vh;
  width: 25%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  width: 20vw;
}

.subRedditImage {
  border-radius: 50%;
  max-height: 5vh;
  object-fit: contain;
  vertical-align: middle;
  display: inline;
  margin-right: 1vw;
}

.numbers_row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: fit-content;
}

.title {
  cursor: pointer;
}

.container button {
  background: transparent;
  border: none;
  color: rgba(0, 255, 255, 0.8);
  cursor: pointer;
}

.top_chunk {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
