body {
  padding: 1%;
  background-color: rgb(29, 24, 24);
  color: rgba(0, 238, 255);
  font-family: "Anton", sans-serif;
  overflow: hidden; /* Hide scrollbars */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.vertical_flex {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal_flex {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
