body {
  padding: 1%;
  background-color: rgb(29, 24, 24);
  color: rgba(0, 238, 255);
  font-family: "Anton", sans-serif;
  /*overflow: hidden;*/ /* Hide scrollbars */
}

.vertical_flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
